*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: adobe-garamond-pro, sans-serif;
  height: 100%;
}
body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
  height: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}
a {
  text-decoration: none;
}
$link-text-color: #a8a6a1;
$text-color: #000;
$text-while: #ffff;

.btn {
  padding: 10px 16px;
  background-color: $link-text-color;
  border-radius: 0;
  a {
    color: $text-while;
    font-size: 16px;
    font-family: adobe-garamond-pro, sans-serif;
    font-weight: 500;
  }
  &:hover {
    color: $text-while;
    opacity: 0.8;
  }
}

.btn_hover {
  color: #000;
  background-color: #fff;
  padding: 11px 20px;
  font-size: 17px;
  opacity: 0.6;
  border-radius: 20px;
  text-align: center;
  &:hover {
    color: $text-color;
    opacity: 0.8;
  }
}

.show {
  display: block !important;
}
.active {
  display: block !important;
}
@media (min-width: 1024px) {
  .navbar-bars {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .navbar-bars {
    display: block;
  }
  .hide {
    opacity: 0;
    visibility: hidden;
  }
}
