*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: adobe-garamond-pro, sans-serif;
  height: 100%;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}

a {
  text-decoration: none;
}

.btn {
  padding: 10px 16px;
  background-color: #a8a6a1;
  border-radius: 0;
}
.btn a {
  color: white;
  font-size: 16px;
  font-family: adobe-garamond-pro, sans-serif;
  font-weight: 500;
}
.btn:hover {
  color: white;
  opacity: 0.8;
}

.btn_hover {
  color: #000;
  background-color: #fff;
  padding: 11px 20px;
  font-size: 17px;
  opacity: 0.6;
  border-radius: 20px;
  text-align: center;
}
.btn_hover:hover {
  color: #000;
  opacity: 0.8;
}

.show {
  display: block !important;
}

.active {
  display: block !important;
}

@media (min-width: 1024px) {
  .navbar-bars {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .navbar-bars {
    display: block;
  }

  .hide {
    opacity: 0;
    visibility: hidden;
  }
}
.header {
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 2vw 3vw;
  z-index: 2;
  position: fixed;
  background-color: #fff;
}

.navbar {
  padding: 0;
}
.navbar-wrap {
  display: flex;
  flex-wrap: nowrap;
  flex: 1 0 67%;
  align-items: center;
}
.navbar-contact a {
  margin-right: 12px;
  color: #000;
  text-decoration: none;
  font-weight: 400;
}
.navbar-Img {
  width: auto;
  max-width: 100%;
  max-height: 50px;
}
.navbar-Img img {
  width: auto;
  max-width: 100%;
  height: 50px;
  object-fit: cover;
}
.navbar-infor a,
.navbar-infor i {
  font-size: 20px;
  margin-left: 1vw;
}

.show_menu-mb {
  transform: translateY(0);
  animation: headerBars 0.2s ease-in;
}

.close_menu-mb {
  transform: translateY(100%);
  animation: close 0.2s ease-in;
}

.scrollHeader {
  animation: headerMove 0.5s ease-in-out;
}

@keyframes headerMove {
  0% {
    top: 0;
    background-color: #fff;
  }
  25% {
    top: 0px;
    background-color: transparent;
  }
  100% {
    top: 0;
    background-color: #fff;
  }
}
@keyframes headerBars {
  from {
    transform: translateY(80%);
    opacity: 0.25;
  }
  50% {
    transform: translateY(50%);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (max-width: 1023px) {
  .navbar-bars i {
    font-size: 35px;
  }

  .header-menu-mb {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #a8a6a1;
    overflow-y: hidden;
  }

  .navbar-img_mb {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
  }

  .icon-close {
    font-size: 30px;
    position: absolute;
    top: 2%;
    left: 8%;
    transform: translateX(-90%);
    width: 30px;
    height: 30px;
    color: #fff;
    animation: close 0.1s linear;
  }

  .header-mb-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header-mb-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 60px;
    font-weight: 300;
  }

  .header-mb-infor {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
  .header-mb-infor i {
    font-size: 30px;
    padding: 20px;
  }
}
@media screen and (max-width: 739px) {
  .header {
    padding: 0;
  }

  .col-mb-3 {
    flex: 0 0 auto;
    width: 30%;
  }

  .col-mb-5 {
    flex: 1 0 auto;
    width: 43%;
  }

  .navbar-Img img {
    height: 30px;
  }

  .icon-close {
    animation: close 0.1s linear;
    top: 4%;
    left: 10%;
    font-size: 25px;
  }
}
@keyframes close {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50%);
    opacity: 0.5;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
.slider {
  overflow: hidden;
}
.slider img {
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.carousel-item {
  height: 100vh;
  position: relative;
}
.carousel-item a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-control-prev-icon {
  background-image: none;
}

.carousel-control-next-icon {
  background-image: none;
}

.btn-slider {
  background-color: #a8a6a1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
}
.btn-slider i {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  position: absolute;
}

@media (max-width: 739px) {
  .carousel-control-prev {
    transform: translate(190%, 40%);
  }

  .carousel-control-next {
    transform: translate(-190%, 40%);
  }
}
.intro {
  padding: 65px 40px 40px 40px;
  text-align: center;
}
.intro-wrap {
  text-align: center;
  margin: 0 auto;
}
.intro-title {
  text-align: center;
  margin-bottom: 2rem;
  font-family: orpheuspro;
  font-size: 25px;
  font-weight: 100;
}
.intro-desc {
  margin: 1rem 0 0 0;
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 17px;
}

@media (max-width: 739px) {
  .intro {
    padding: 65px 17px 40px 17px;
  }
}
.project {
  width: 78%;
  background-color: white;
  margin: auto;
  padding: 10px;
}
.project-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
}
.project-list {
  margin-top: 70px;
}
.project-content {
  width: 50%;
  margin: auto;
  transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1), transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: opacity, transform;
  opacity: 0;
  transform: matrix(1, 0, 0, 1, -30, 0);
}
.project-item-title {
  font-size: 27px;
  color: #000;
  font-family: adobe-garamond-pro;
  font-weight: 400;
  padding-bottom: 35px;
}
.project-desc {
  font-size: 17px;
  text-align: center;
  padding-bottom: 35px;
}
.project-img {
  width: 50%;
  position: relative;
  object-fit: cover;
  transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1), transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: opacity, transform;
  opacity: 0;
  transform: matrix(1, 0, 0, 1, 20, 0);
  overflow: hidden;
}
.project-img:hover > a > i {
  display: block;
}
.project-img::after {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #38383b;
  z-index: 1;
  opacity: 0.1;
}
.project-img i {
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 10px;
  color: #c62028;
  z-index: 2;
  display: none;
}
.project-all {
  text-align: center;
  padding: 30px 45px;
}
.project-all a {
  color: #a8a6a1;
  font-size: 21px;
  font-family: adobe-garamond-pro;
  text-decoration: 1.5px underline;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.project-item {
  display: flex;
  padding: 35px 32px;
}
.project .project-item:nth-child(2) {
  flex-direction: row-reverse;
}
.project .project-item:nth-child(2) > .project-content {
  transform: matrix(1, 0, 0, 1, 30, 0);
}
.project .project-item:nth-child(2) > .project-img {
  transform: matrix(1, 0, 0, 1, -20, 0);
}
.project .project-item:nth-child(2) > .project-content > .project-wrap {
  margin-right: 0;
  margin-left: 60px;
}

.active {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0) !important;
}

@media (min-width: 740px) {
  .project-title {
    position: relative;
    font-size: 17px;
    font-family: adobe-garamond-pro;
    font-style: italic;
    padding: 0 17px;
  }
  .project-title p {
    margin: 0;
    padding: 0 17px;
    text-align: center;
    background: white;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50px, -10px);
    word-wrap: break-word;
  }
  .project-title::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    background-color: #000;
  }
}
@media (max-width: 739px) {
  .project {
    width: 100%;
    padding: 0;
  }
  .project-item {
    padding: 17px;
    flex-direction: column-reverse;
  }
  .project-content, .project-img {
    width: 100%;
  }
  .project-wrap {
    margin-top: 60px;
    margin-right: 0;
  }
  .project .project-item:nth-child(2) {
    flex-direction: column-reverse;
  }
  .project .project-item:nth-child(2) > .project-content > .project-wrap {
    margin-left: 0;
  }
  .project-title {
    height: 110px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 0 25px;
  }
  .project-title p {
    text-align: center;
    line-height: 110px;
  }
}
.tailoring {
  background-image: url("https://images.squarespace-cdn.com/content/v1/6014f6d17afdae55ced84a12/47de786f-016d-4f73-bfea-f1d9d76544af/cover-09.jpg?format=2500wio");
  min-height: 66vh;
  position: relative;
  margin-top: 100px;
}
.tailoring-wrap {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.tailoring-title {
  font-weight: 300;
  font-family: adobe-garamond-pro;
  padding-bottom: 45px;
}

.footer {
  text-align: center;
  padding: 22px 32px 0px 32px;
}
.footer-list a {
  font-size: 17px;
  color: #a8a6a1;
  padding: 0 5px;
  text-decoration: underline;
}
.footer p {
  font-size: 16px;
  margin-top: 16px;
  color: #000;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.form {
  padding: 40px 20px 20px 20px;
  background-color: #fff;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.form-input a {
  float: right;
  color: rgb(19, 164, 116);
}
.form-footer {
  margin-top: 50px;
  border-top: 1px solid #ccc;
  padding: 20px 0;
  text-align: center;
}

.input-login {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 10px 0;
}
.input-login input {
  border: none;
  outline: none;
}

.input-checkbox {
  margin-top: 40px;
}

.btn-login {
  text-transform: uppercase;
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: none;
  background-color: aqua;
  cursor: pointer;
}

.login-icon_close {
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 7%;
}

/*# sourceMappingURL=style.css.map */
